body{
    background-color: #074E67;
}


.rubrik {
    color: aliceblue;
    font-family: Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px #999;
    margin-top: 10%;
}


.box {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 50vw;
    background-color:  #b6af9d;
    margin-left: 25%;
    margin-top: 10%;
    border-radius: 20px;
    padding: 20px;
}

.box input{
    margin-left: 10%;
}

.output{
    width: 50vw;
    height: 30vw;
    background-color: #b6af9d;
    margin-left: 27%;
    margin-top: 3%;
}

.textfield {
    width: 100%;
}

.box div {
    display: flex;
    align-items: center;
}

.box label {
    margin: 10px;
    width: 8vw;
    
}

.box .checkbox-label{
    width: 5.8vw;
}

.box button{
    color: black;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    width: 20%;
    margin-left: 40%;
    margin-top: 1%;
}